
section{
    margin: 90px;
    gap: 20px;
}

h1{
    font-size: 30px;
    color: #FF0A8B;
}
form{
    gap: 30px;
    max-width: 710px;
    max-height: 520px;
    border: #FF0A8B solid 4px;
    padding: 150px;
    justify-content: center;
}

form label{
    color: black;
    font-size: 20px;
    font-weight: 500;
}

form input{
    border: #FF0A8B solid 2px;
    font-size: 18px;
    transition: transform 0.1s ease-out;
    max-width: 708px;
    padding: 15px;
}

form input:hover{
    background:linear-gradient(#fb5abc2e, white);
}

form select{
    border: #FF0A8B solid 2px;
    background-color: white;
    padding: 15px 115px 15px 15px;
    font-size: 18px;
    max-width: 742px;
}

form input:active{
    z-index: 1;
    transform: translateY(-10px);
    box-shadow: 0 25px 40px rgba(0, 0, 0, .5);
    transition:  0.3s ease-in;
}

.requestbox{
    padding-bottom: 150px;
}

.submit{
    background-color: white;
    padding: 5px;
}

@media (max-width:870px){
    form{
        gap: 20px;
        height: 375px;
        padding: 150px 100px 150px 100px;
    }

    form label{
        font-size: 15px;
    }

    form select{
        font-size: 15px;
    }
}

@media (max-width:685px){
    form{
        gap: 20px;
        height: 375px;
        padding: 100px 30px 100px 30px;
    }

    form label{
        font-size: 15px;
    }

    form input{
    padding: 0;
    }

    .requestbox{
        padding-bottom: 95px;
    }

    section{
        margin: 15px;
    }
}

@media (max-width:475px){
    h1{
        font-size: 20px;
    }

    form{
        max-width: 215px;
    }

    form select[
}