section{
    margin: 90px;
}

section img{
    width: 602px;
    padding-right: 260px;
}

.flex{
    display: flex;
}

.text-flex{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    line-height: 42px;
}

.text-flex span{
    color: #FF08AB;
}

.text-flex span:hover{
    text-decoration: underline black 2px;
}

@media (max-width: 1362px){
    .flex{
        flex-direction: column;
        align-items: center;
    }

    section img{
        padding:0;
    }

    .text-flex{
        margin-top: 30px;
    }

    section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:640px){
    section img{
        width: 265px;
    }

    .text-flex{
        font-size: 15px;
        line-height: 30px;
    }

    section{
        margin: 30px;
    }
}