h1{
    padding-bottom: 30px;
}

section{
    margin: 90px;
    background-color: white;
    box-shadow: #c0b8b8 5px 1px 10px;
    padding: 40px;
}

section img{
    width: 602px;
    border: solid #a6daff 5px;
}
.img-padding{
    padding-right: 260px;
}

.text-flex{
    font-size: 20px;
    line-height: 42px;
}

.text-flex span{
    color: #ff0291;
    background-color: #ffedfa16;
}

.text-flex span:hover{
    text-decoration: underline black 2px;
}

@media (max-width: 1450px){
    .media-style{
        flex-direction: column;
        align-items: center;
    }

    section img{
        padding:0;
    }

    .text-flex{
        margin-top: 30px;
        text-align: center;
    }

    .img-padding{
        padding: 0;
    }
}

@media (max-width:832px){
    section img{
        width: 400px;
    }

    .text-flex{
        font-size: 15px;
        line-height: 30px;
    }

    section{
        margin: 30px;
    }
}

@media (max-width: 500px){
    section img{
        width: 205px;
    }
}