.section2{
    margin: 90px;
}

.section1{
    font-size:20px;
    line-height: 40px;
    margin-left: 90px;
    margin-top: 90px;
}
span{
    background-color: #ffedfa16;

}
span:hover{
    text-decoration: underline wavy black;
}

.outerflex img{
    width: 420px;
    height: 300px;
    object-fit: cover;
}

.outerflex{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

.text-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    max-height: 80px;

}

.text-flex p{
    margin: 10px;
}

.outer-gap{
    display: grid;
    gap: 30px;
}

@media (max-width:1078px){
    .outerflex{
        justify-content: center;
    }

    .section2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section1{
        margin: 90px 30px 30px 30px;
    }

    h1{
        font-size: 20px;
        width: 175px;
    }
}

@media (max-width:500px){
    .outerflex img{
        width: 260px;
        height: 230px;
    }

    .text-flex{
        font-size: 15px;
    }

    .section1 p{
        font-size: 14px;
    }

    
}