@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Playfair+Display&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    margin: 0;
}
footer{
    display: flex;
    color: white;
    background-color: rgba(173, 196, 229, .5);
    justify-content: center;
    font-size: 30px;
    align-items: center;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 60px;
}

ul img{
    width: 30px;
    height: 30px;
}