@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Playfair+Display&display=swap');

a{
    text-decoration: none;
    color: black;
}

header a:visited{
    color: inherit;
}
html{
    scroll-behavior: smooth;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 75px 90px 0px 90px;
}

nav ul{
    display: flex;
    list-style-type: none;
    gap: 40px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 20px;
}


.logo{
    font-size: 24px;
    line-height: 35px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    border-bottom: 4px solid #FF00A8;
    margin: 0;
}

.logo-top-part{
    width:135px;
}

body{
    font-family:'Inter', sans-serif;
    font-weight: 300;
}

footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-top: 100px;
    gap: 20px;
}

footer img{
    width: 30px;
    height: 30px;
}

.nav-pink{
    color: #FF00A8;
    }

body{
    max-width: 1710px;
    margin: 0 auto;
}
       
.max-width{
    max-width: 1710px;
    margin: 0;
    padding: 80px 80px 0px 90px;

}

span{
    color: #FF00A8;
}

#hamburger{
    visibility: hidden;
}

nav .x{
    display: none;
}

label:hover{
  cursor: pointer;
}
@media (min-width:871px){
    .hamburgermenu{
        display: none;
    }

    header input{
        display:none;
    }

    ul a:hover{
        transform:scale(1.1);
        color: #FF00A8;
        text-shadow: .5px .5px;
    }
}


@media (max-width:870px){
    #hamburger:checked ~ nav ul {
        transform: translatey(0);
    }

    #hamburger:checked ~ nav .x {
        display: flex;
        font-size: 30px;
        color: white;
        padding-right: 20px;
      }

    #hamburger:checked ~ nav .bars {
        display: none;
      }

      #hamburger:checked ~ nav ul {
        color: white;
      }

      #hamburger:checked ~ a .logo-padding {
        color: white;
      }
      
      #hamburger:checked ~ nav .logo {
      border-bottom: 4px solid black;
      color: white;
      transition: 0.7s;
      }

    nav ul {
        flex-direction: column;
        position: absolute;
        background-color: #FF00A8;
        width: 100%;
        height: 100%;
        top: -30px;
        transform: translatey(-150%);
        transition: 1s;
        align-items: center;
        font-size: 22px;
        padding-top: 250px;
        color: ;
      }

      nav{
        padding: 0;
        justify-content: center;
      }
     
      .hamburgermenu{
        padding-right: 30px;
        font-size: 30px;
        z-index: 1;
      }

      .logo-padding{
        padding-left: 40px;
        z-index: 1;
      }

      .bars{
        padding-right: 20px;
      }

      .max-width{
        padding-top: 20px;
        justify-content: space-between;
        align-items: center;
      }

      .logo-top-part{
        width: 120px;
      }

      .logo{
        font-size: 20px;
      }
      
      .nav-pink{
        text-decoration: underline black 3px;
        color: white;
      }
      
}