@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Playfair+Display&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    margin: 0;
}
footer{
    width: 1326.52px;
    height: 64.5px;
    position:fixed;
    display: flex;
    color: white;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}