
.section1 img{
    width: 660px;
    height: 785px;
    padding-top: 110px;
    z-index: -2;
}

.section1{
    display: flex;
    justify-content: space-around;
    line-height: 47px;
    text-align: right;
    list-style-position: inside;
}



.h1flex{
    padding-top: 257px;
    font-size: 28px;
    margin: 30px;
}

.h1flex span{
    display: block;
}

h1{
    padding-bottom: 30px;
}

.section2{
    display: flex;
    justify-content: space-around;
    margin: 100px 75px 0px 75px;
    font-weight: 500;
    flex-wrap: wrap;
}
.section2 img{
    width: 290px;
    height: 428px;
    object-fit: cover;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    transition: transform 0.3s ease-out;
    background-color: white;
}

.card:hover{
    z-index: 1;
    transform: translateY(-10px);
    box-shadow:#c0b8b8 5px 5px 10px;
    transition:  0.3s ease-in;
}

.section3{
    margin: 115px;
    background-color: #d3e4ff;
    padding: 30px;
    border-radius: 30px;
}

.text-flex{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    
}

.text-flex p{
    margin-top: 5px;
}


.shadow{
    background-color: #ebf6ff;
    box-shadow: #c0b8b8 1px 1px 20px ;
    display: flex;
    margin: 25px;
    background-color: white;
    max-width: 1325px;
    max-height: 500px;
    border-radius: 30px;
}
.content img{
    max-height: 400px;
    height: auto;
    border-radius: 30px;
    object-fit: cover;
    border: #ffc3f0 5px solid;
}

.content{
    display: flex;
    gap: 70px;
    margin: 40px;
}
h2{
    color: #FF00A8;
    text-decoration: underline 3px;
}

.text-flex a:hover{
    color: #FF00A8;
}

nav ul{
    padding-left: 0;
}
@media (max-width: 1390px){
    .section2{
        max-width: 900px;
    }

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 1000px){
    .section1{
        margin-left: 50px;
    }
}
@media (max-width: 1030px){
    .section1{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .section1 img{
        width: auto;
        height: 565px;
    }
    .h1flex{
        padding-top: 10px;
    }

    .max-width{
        gap: 100px;
    }

    .text-flex{
        font-size: 15px;
    }

    .content img{
        max-height: 250px;
    }

    .shadow{
        margin: 0;
    }
}

@media (max-width: 828px){
    .content{
        flex-direction: column;
        gap: 30px;
    }
    .shadow{
        max-height: 630px;
    }

    .section3{
        padding: 6px;
        margin: 40px;
    }
}
@media (max-width: 480px){
    .h1flex{
        font-size: 18px;
    }

    .section2 img{
        width: auto;
        height: 270px;
    }

    .section1 img{
        height: 430px;
    }

    .content img{
        max-height: 200px;
    }
}
