body{
    background-color: #FF00A8;
}

.section1{
    height: 100vh;
    display: flex;
    justify-content: center;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 60px;
    color: white;
    position:fixed;
    right: 100px;
    margin: 40px 20px 20px 20px;
}

h1 span{
    color: white;
}
.logo {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: dash 8s linear forwards, filling 3s ease-in forwards;
    font-size: 40px;
    animation-iteration-count:;
    align-self: center;
    width: 1100px;
  }
  
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes filling {
    0%, 90% { fill: #ffffff; fill-opacity: 0; }
    100% { fill: #ffffff; fill-opacity: 1; }
  }


.logo-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section2{
    background-color: #96B4AB;
    height: 100vh;
    color: white;
    
}

.section1-flex{
    display: flex;
    flex-direction: column;
    align-items: center;

}

