.h1-flex{
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

h2{
    color: #FF0A8B;
}

.foodimg{
    width: 508px;
    height: 342px;
    object-fit: cover;
}

.flexbox-margin{
    display: flex;
    gap: 513px;
    margin: 90px;
}

.reception{
    width: 563px;
    height: 342px;
    object-fit: cover;
}

.gap1{
    gap:630px;
}

.opening-hours ul{
    font-size: 25px;
    width: 350px;
    line-height: 38px;
}

.font-size-p p{
    font-size: 20px;
}

.flexbox-margin2{
    display: flex;
    gap: 275px;
    margin: 90px;
}