.h1-flex{
    display: flex;
    justify-content: center;
    margin: 60px 90px 0px 90px;
    flex-direction: column;
    font-size: 20px;
    
}
 h1{
    color: #FF0A8B;
    text-decoration: underline 3px;
 }
h2{
    color: #FF0A8B;
}

.foodimg{
    width: 508px;
    height: 342px;
    object-fit: cover;
}

.flexbox-margin{
    display: flex;
    margin: 90px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.reception{
    width: 563px;
    height: 342px;
    object-fit: cover;
}


.opening-hours ul{
    font-size: 25px;
    width: 350px;
    line-height: 38px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    line-height: 50px;
}

.font-size-p p{
    font-size: 18px;
    line-height: 30px;
}

.box-width{
    width: 550px;
}

.address-flex iframe{
    padding-top: 25px;
}


@media (min-width:550px) and (max-width: 1334px){
    .flexbox-margin{
        flex-direction: column;
    }
}
@media (max-width: 1334px){
    .flexbox-margin{
        justify-content: center;
        gap: 70px;
        margin: 0;
        align-items: center;
    }
    
    .h1-flex{
        margin: 40px;
        align-items: center;
    }
    .h1-flex p{
        text-align: center;
        font-size: 18px;
    }
    .flexbox-margin{
        margin-top: 50px;
    }

    .opening-hours{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .opening-hours ul{
        align-items: center;
    }

    .address-flex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .address-flex img{
        width: 353px;
        height: 198px;
        margin: 20px;
    }

    .box-width{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .box-width img{
        height: 273px;
        width: auto;
    }

    .box-width p{
        padding: 0px 20px 20px 0px;
    }
}

@media (max-width:640px){
    .reception{
        width: 400px;
        height: 280px;
        margin: 20px;
    }

    .opening-hours ul{
        font-size: 18px;
    }

    .logo{
        font-size: 15px;
    }
    
    .logo-top-part{
        width: 90px;
    }

    .fa-solid{
        font-size: 25px;
    }

}

@media (max-width: 470px) {
    
}