.h1-flex{
    display: flex;
    justify-content: center;
    padding-top: 60px;
    margin: 0px 90px 0px 90px;
    flex-direction: column;
    font-size: 20px;
    
}
 h1{
    color: #FF0A8B;
    text-decoration: underline 3px;
 }
h2{
    color: #FF0A8B;
}

.foodimg{
    width: 508px;
    height: 342px;
    object-fit: cover;
}

.flexbox-margin{
    display: flex;
    margin: 90px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.reception{
    width: 563px;
    height: 342px;
    object-fit: cover;
}


.opening-hours ul{
    font-size: 25px;
    width: 350px;
    line-height: 38px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    line-height: 50px;
}

.font-size-p p{
    font-size: 20px;
}

.box-width{
    width: 550px;
}

@media (max-width: 1332px){
    .flexbox-margin{
        justify-content: center;
        gap: 70px;
        margin: 0;
    }
 .h1-flex{
        margin: 40px;
        align-items: center;
    }

    .flexbox-margin{
        margin-top: 90px;
    }

    .opening-hours{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .opening-hours ul{
        align-items: center;
    }
}

@media (max-width:640px){
    .reception{
        width: 400px;
        height: 280px;
        margin: 20px;
    }

    .opening-hours ul{
        font-size: 20px;
    }

    .logo{
        font-size: 15px;
    }
    
    .logo-top-part{
        width: 90px;
    }

    .fa-solid{
        font-size: 25px;
    }
}